/* Animations */
/**************/
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Reusable Classes */
/****************************************************************************/

/* Navigation Bar */
/******************/
.navbar {
	background-color: #19615C;
	overflow: hidden;
	border-radius: 8px;
	margin-bottom: 5px;
	margin: 5px;
}

/* Reusable Classes END */
/****************************************************************************/

.navbar a {
	float: right;
	color: #f2f2f2;
	display:block;
	text-align: center;
	text-decoration: none;
	font-family: "Annie Use Your Telescope";
	font-weight: 900;
	font-size: 20px;
	padding: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}

.navbar a:hover {
	background-color: #26948C;
	border-radius: 15px;
}

/* Homepage */
/************************************************************************/
.homepage {
	background-color: #FFFFFF;

}

/* Homepage_Content */
/********************/
.homepage_content {
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	overflow: auto;
}

	.homepage_content .image {
		border-radius: 15px;
		width:575px;
		height:auto;
		margin-top: 10px;
		margin-left: 10px;
	}

	.homepage_content .title {
		animation: fadeInAnimation ease 60s;
		position: absolute;
		top: 340px;
		left: 605px;
		transform: translate(-50%, -50%);
		font-family: "Annie Use Your Telescope";
		font-weight: 900;
		font-size: 120px;
		color: #91FFFF;
	}

/* Homepage END */
/**************************************************************************/


/* Discography */
.discography {
	background-color: #FFFFFF;
}

/* Discography_Content */
/************************/
.discography_content:

