
/*********************************************
# General
*********************************************/

body{
	background: #FFFFFF;
	color: #393232;
	font-family: 'Quicksand';
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.05em;

	height: 100%;
	margin: 0; 
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1{
	color: #292929;
	font-family: 'ABeeZee';	
	font-size: 75px;
	font-weight: 600;
}

h2{
	color: #292929;
	font-family: 'Quicksand';
	font-size: 50px;
	font-weight: 300;
}

h3{
	color: #292929;
	font-family: 'Quicksand';
	font-size: 20px;
	font-weight: 600;
}

ul {
	list-style-type: none;	
}

a {
	color: #292929;
	text-decoration: none !important;
	transition: all 0.5s ease-in-out 0s;
}

a:hover {
	transition: all 0.5s ease-in-out 0s;
	color: #0007FF;	
}

a:focus {
	color: #0007FF;
}

p {
	margin: 0 0;
	padding: 0;
	font-size: 15px;
	color: #999999;
	line-height: 28px;
}

/* Pages */
/*********/
.fullpage{
	width: 100%;
	height: 100vh;
}

.halfpage{
	width: 100%;
	height: 70vh;
}

/* Containers */
/**************/
.container-center{
	max-width: 65%;
	margin: 100px auto;	
	padding: 0 0;
}

.container-split{
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	justify-content: space-between;

}

.container-center{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	align-items: center;
	border: 5px solid green;
}

/******************************************
# Navigation Bar
*******************************************/
nav{
	position: fixed;
	background-color: #FFFFFF;
	display: none;
	top: -120px;
	width: 100%;
	padding: 20px 0px;
	transition: top 1s;
	z-index: 1;
	box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
}

#navbar-logo{
	width: auto;
	height: 70px;
	margin-left: 17.5vw;
}

#navbar-links{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: 17.5vw;
}

#navbar-links a{
	margin-left: 50px;
}

/*****************************************
# Intro Page 1
*****************************************/

.background {
	background-color: #F8F7F3;
	background-image: url('/resources/artem-sapegin.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	height: 100%;
	overflow: hidden;
	filter: blur(2px);
}

#intro {	
	top: 58%;
	left: 38%;
	position: absolute;	
	transform: translate(-50%, -50%);
}

#intro-links{
	display: flex;
	padding: 0px;
	margin: 10px 0px;
	margin-left: 3px;
	font-size: 30px;
	flex-direction: row;
	justify-content: space-between;
	width: 50%;
}

.of-symbol{
	background-color: black;
	padding: 0px 4px;
	margin: 0 0;
	height: 26px;
	position: relative;
	top: 6px;
	border-radius: 2px;
}

.of-symbol a{
	color: black;
	filter:invert(1);
	font-size: 19px;
	position: relative;
	bottom: 10px;
}

/*************************************
# Profile 
*************************************/

#profile{
	margin-top: 17.5vh;
}

#profile-picture{
	margin-left: 17.5vw;
}

#picture{
	width: 25vw;
	height: auto;
	border-radius: 100%;
	box-shadow: 1px 0px 92px 0px grey;
}

#profile-content{
	padding: 20vh 0 0 5vw;
	margin-right: 17.5vw;
}

#profile-content h3{
	padding: 0 0 1rem 0;
}






